body{background-color: rgb(31, 211, 202);
    margin :0

}
.title{
      margin: 0 auto;
      width: 400px;
}
.first-post{
    background-color: white;
    height: 520px ;
    width: 600px ;
        margin: 0 auto;  
       
}
.first-post img{
    height: 400px;
    width: 600px;
}
.post-header{display: flex;
flex-direction: row;
}
.second-post{
    background-color: white;
    height: 600px ;
    width: 600px ;
        margin: 0 auto;  
        margin-top: 2%;
        }
        .post-header2{display: flex;
            flex-direction: row;
            }
            .second-post img{
                height: 500px;
                width: 600px;
            }
            .third-post{
                background-color: white;
                height: 600px ;
                width: 600px ;
                    margin: 0 auto;  
                    margin-top: 2%;
                    margin-bottom: 2%;
                    }
                    .post-header3{display: flex;
                        flex-direction: row;
                        }
                        .third-post img{
                            height: 500px;
                            width: 600px;
                        }
                        h1{font-family: 'Lobster', cursive;}
